* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #2acadf, #2e10b3);
    font-family: Arial, sans-serif;
    line-height: 1;
}

header {
    position: relative;
    padding: 1rem 2rem;
    background: #2adf30;
    color: white;
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: left;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
}

nav a:hover {
    color: red;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: 800;
}

.box {
    margin: 20px 30px;
    background: #c2c2c2;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.2),
        0 5px 15px rgba(0, 0, 0, 0.12);
}

.form {
    padding: 40px 30px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form h2 {
    font-size: 32px;
    font-weight: 800;
}

.form input {
    width: 100%;
    height: 48px;
    padding: 2px 15px;
    font-size: 25px;
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 5px;
    outline: none;
}

.form button {
    padding: 10px 60px;
    font-size: 25px;
    margin-top: 10px;
    background: #f50000;
    border: none;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    align-self: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.form button:hover {
    background: #31f500;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
    transform: translateY(-5px);
}

@media (max-width:550px){
    body {
        background: #2acadf;
    }

    h1{
        font-size: 40px;
    }

    .form h2 {
        font-size: 28px;
    }

    .form input {
        height: 45px;
        font-size: 20px;
    }
}