@import url('https://fonts.googleapis.com/css2?family-Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111c5a;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background: #000;
    border: 5px solid #333;
    border-radius: 10px;
    transition: .5s;
}

.wrapper:hover {
    border: 5px solid #0ef;
    box-shadow: 0 0 20px #0ef, inset 0 0 20px #0ef;
}

h2 {
    font-size: 2em;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    transition: .5s;
}

.wrapper:hover h2 {
    color: #0ef;
    text-shadow: 0 0 2px #0ef;
}

.input-box {
    position: relative;
    width: 320px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #333;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    color: #fff;
    padding: 0 10px 0 35px;
    transition: .5s;
}

.wrapper:hover .input-box input {
    border: 2px solid #0ef;
    box-shadow: 0 0 10px #0ef, inset 0 0 10px #0ef;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, .3);
}

.input-box .icon {
    position: absolute;
    left: 10px;
    color: #fff;
    font-size: 1.2em;
    line-height: 55px;
    transition: .5s;
}

.wrapper:hover .input-box .icon {
    color: #0ef;
}

button {
    position: relative;
    width: 100%;
    height: 45px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    transition: .5s;
}

.wrapper:hover button {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 10px #0ef;
}

.checkbox {
    position: relative;
}

.checkbox input {
    width: 18px;
    height: 18px;
    accent-color: green;
    margin: -5px 0 10px 0;
    display: flex;
    cursor: pointer;
}

.wrapper:hover .checkbox input{
    appearance: none;
    border: 2px solid #0ef;
    accent-color: #0ef;
    border-radius: 3px;
    background-color: #333;
    box-shadow: 0 0 10px #0ef;
}

.wrapper:hover .checkbox input:checked{
    appearance: auto;
}

.checkbox label {
    position: absolute;
    color: #fff;
    margin: -27px 30px;
}

.wrapper:hover .checkbox label {
    color: #0ef;
    text-shadow: 0 0 1px #0ef;
}

@media (max-width:550px){
    .wrapper {
        width: 340px;
        height: 450px;
    }

    h2{
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

    .input-box {
        width: 300px;
        margin: 20px 0;
    }

    .wrapper:hover {
        box-shadow: none;
    }

    .wrapper:hover .input-box input{
        box-shadow: none;
    }

    .wrapper:hover button {
        box-shadow: none;
    }
}