* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cfcfcf;
    font-family: Arial, sans-serif;
    line-height: 1;
}

header {
    position: relative;
    padding: 1rem 2rem;
    background: #2adf30;
    color: white;
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

nav a:hover {
    color: red;
}

.img {
    margin: 0px auto 0;
    display: block;
    height: 200px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: black;
    font-weight: 800;
}

.box {
    margin: 20px 30px;
    background: aliceblue;
    border-radius: 20px;
    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.2),
        0 5px 15px rgba(0, 0, 0, 0.12);
}

.form {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    font-size: 32px;
    font-weight: 800;
}

.data {
    width: 100%;
    height: 48px;
    padding: 4px 13px;
    font-size: 25px;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 40px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.data p {
    margin-top: 7px;
    margin-left: 2px;
    font-weight: bold;
}

.form button {
    padding: 10px 80px;
    font-size: 25px;
    margin-top: 15px;
    background: #0ce213;
    color: aliceblue;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.form button:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
    transform: translateY(-5px);
}

@media (max-width:550px){
    header {
        padding-left: 1rem;
        padding-right: 0rem;
    }

    nav a {
        font-size: 17px;
    }

    h1{
        font-size: 35px;
    }

    .box {
        border-radius: 10px;
    }

    .form h2 {
        font-size: 28px;
    }

    .data {
        height: 45px;
        font-size: 20px;
    }
}