/* Sidebar Styles */
.sidebar {
    background-color: #000;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 64px;
    transition: all 0.3s ease;
    z-index: 30;
}
.sidebar.active {
    left: -250px;
}

.header {
    background-color:rgb(230, 17, 17); 
}

.header h1 {
    font-size: 25px;
}

.text-xl span {
    color:rgb(13, 240, 13);
}

.cursor-pointer span {
    font-size: 20px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.role-box {
    background: transparent;
}

.role-box option {
    background: black;
    color: white;
    width: 50%;
}

/* Content Area */
.content {
    margin-left: 250px;
    transition: all 0.3s ease;
}
.content.active {
    margin-left: 0;
}

.hamburger span {
    transition: all 0.3s ease;
}
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 7px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -6px);
}

@media (max-width: 800px) {
    .sidebar {
        left: -250px;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        margin-left: 0;
    }

    .content.active {
        margin-left: 250px;
    }
    
    .hamburger.active span:nth-child(1) {
        transform: rotate(0deg) translate(0px, 0px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 1;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(0deg) translate(0px, 0px);
    }

   .hamburger.non-active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 7px);
    }
    .hamburger.non-active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.non-active span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -6px);
    }
}

@media (max-width: 640px) {
    h1.title {
        font-size: 14px;
        line-height: 1.5;
    }

    #doctorSearch {
        width: 150px;
    }

    .relative input {
        font-size: 14px;
    }

    .fa-search {
        display: none;
    }
}