.sidebar {
    background-color: #000;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 64px;
    transition: all 0.3s ease;
    z-index: 30;
}

.sidebar.active {
    left: -250px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.role-box {
    background: transparent;
}

.role-box option {
    background: black;
    color: white;
    width: 50%;
}

.header {
    background-color:rgb(230, 17, 17);
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 40;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header h1 {
    font-size: 25px;
}

.text-xl span {
    color:rgb(13, 240, 13);
}

.cursor-pointer span {
    font-size: 20px;
}

/* Content Area */
.content {
    background: #dddddd;
    height: 100vh;
    margin-top: 50px;
    padding: 30px;
    margin-left: 250px;
    transition: all 0.3s ease;
}

.content.active {
    margin-left: 0px;
}

.profile-box {
    margin-top: 50px;
    background:rgb(236, 236, 236);
    border-left: 5px solid #dc2626;
    max-width: 600px;
}

.profile-box h2 {
    font-size: 40px;
}

.profile-box p {
    font-size: 20px;
}

.edit button {
    padding: 8px 30px;
    width: 180px;
    font-size: 20px;
    margin-top: 20px;
    background:rgb(241, 209, 25);
    border: none;
    color: rgb(26, 25, 25);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.edit button:hover {
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
    transform: translateY(-5px);
}

.hamburger span {
    transition: all 0.3s ease;
}
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 7px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -6px);
}

@media (max-width: 800px) {
    .sidebar {
        left: -250px;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        margin-left: 0;
    }

    .content.active {
        margin-left: 250px;
    }
    
    .hamburger.active span:nth-child(1) {
        transform: rotate(0deg) translate(0px, 0px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 1;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(0deg) translate(0px, 0px);
    }

   .hamburger.non-active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 7px);
    }
    .hamburger.non-active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.non-active span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -6px);
    }
}

@media (max-width: 600px) {
    h1.title {
        font-size: 14px;
        line-height: 1.5;
    }

    h2.profil {
        font-size: 35px;
    }
}