.text-xl span {
    color:rgb(13, 240, 13);
}
/* Sidebar Styles */
.sidebar {
    background-color: #000;
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 64px;
    transition: all 0.3s ease;
    z-index: 30;
}

.sidebar.active {
    left: -250px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.role-box {
    background: transparent;
}

.role-box option {
    background: black;
    color: white;
    width: 50%;
}

.header {
    background-color:rgb(230, 17, 17);
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 40;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header h1 {
    font-size: 25px;
}

.cursor-pointer span {
    font-size: 20px;
}

/* Content Area */
.content {
    background: #dddddd;
    height: 100vh;
    margin-top: 50px;
    padding: 30px;
    margin-left: 250px;
    transition: all 0.3s ease;
}

.content.active {
    margin-left: 0;
}

.ubah h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.box  {
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.form {
    padding: 30px;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form h2 {
    font-size: 25px;
    font-weight: 600;
}

.form input {
    width: 100%;
    height: 45px;
    padding: 2px 15px;
    font-size: 22px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
}

.form .button {
    align-self: flex-end;
}

.form button {
    padding: 5px 30px;
    font-size: 20px;
    width: 150px;
    background:rgb(63, 153, 3);
    border: none;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button[type="reset"] {
    background: #ebc314;
    margin-right: 10px;
}

.hamburger span {
    transition: all 0.3s ease;
}
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 7px);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -6px);
}

@media (max-width: 800px) {
    .sidebar {
        left: -250px;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        margin-left: 0;
    }

    .content.active {
        margin-left: 250px;
    }
    
    .hamburger.active span:nth-child(1) {
        transform: rotate(0deg) translate(0px, 0px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 1;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(0deg) translate(0px, 0px);
    }

   .hamburger.non-active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 7px);
    }
    .hamburger.non-active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.non-active span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -6px);
    }
}

@media (max-width: 600px) {
    h1.title {
        font-size: 14px;
        line-height: 1.5;
    }

    .ubah h1 {
        font-size: 40px;
    }
}

@media (max-width: 440px) {
    .ubah h1 {
        font-size: 30px;
    }

    .form input {
        font-size: 18px;
    }

    .form h2 {
        font-size: 20px;
    }

    .form button {
        padding: 3px 22px;
        font-size: 18px;
        width: 100px;
    }
}